.protocol-pdf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.protocol-pdf.mob {
  height: auto;
  min-height: 100vh;
}
.protocol-pdf iframe {
  width: 100%;
  height: 100%;
}
