._2KIYvRS5 {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
._2KIYvRS5 > * {
  pointer-events: auto;
}
._2vPZV2Zw > * {
  pointer-events: none;
}
._12W2W7w0 {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  scrollbar-width: none;
  overflow-style: none;
}
._12W2W7w0 > * {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
._12W2W7w0::-webkit-scrollbar {
  display: none;
}
._2vQSqpU9 {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
._32Xo0xuQ {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.pJabgfwZ {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.pJabgfwZ ._12W2W7w0 {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
._1O4IHgc7 {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
._1O4IHgc7 ._12W2W7w0 {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
