.loading[data-v-4ed1ddcf] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 997;
}
.loading__anim[data-v-4ed1ddcf] {
  position: absolute;
  right: 16.875px;
  bottom: 28.125px;
  width: 298.125px;
  height: 84.375px;
  background: url("https://fastcdn.hoyoverse.com/static-resource-v2/2024/05/17/ce1888e31d79d6d4b2f4ad9b25fbbd68_1850626400856033913.png");
  background-size: 100% 3000%;
  background-position: 0 0;
  animation: loadingLoop-4ed1ddcf 0.5s steps(30) infinite forwards;
}
@media (max-width: 374px) {
  .loading__anim[data-v-4ed1ddcf] {
    width: 265px;
    height: 75px;
    right: 15px;
    bottom: 25px;
  }
}
@media (max-width: 300px) {
  .loading__anim[data-v-4ed1ddcf] {
    width: 198px;
    height: 56px;
    right: 11.2px;
    bottom: 18.6px;
  }
}
@keyframes loadingLoop-4ed1ddcf {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -3000%;
  }
}
.loading__field[data-v-4ed1ddcf] {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.loading__progress[data-v-4ed1ddcf] {
  width: 35vh;
  height: 35vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loading__progress span[data-v-4ed1ddcf] {
  line-height: 35vh;
  font-size: 6vh;
  text-align: center;
  display: block;
}
.loading__progress div[data-v-4ed1ddcf] {
  position: absolute;
  width: 2px;
  height: 1vh;
  left: 50%;
  top: 0;
  margin-left: -1px;
  background: #414141;
  transform-origin: 0 17.5vh;
  opacity: 0.3;
}
